.blog-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    background: #fff;
    line-height: 0;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    width: 270px;
    height: 188px;
    margin: 10px;
    font-size: 10px;
}

h1{
    font-size: 18px;
    color: #0abde3;
}
.datos-usuario{
    font-size: 15px;
}
.datos-bbr {
    color: #0abde3;
    font-size: 11px;
    line-height: 0;
}
@font-face {
    font-family: Boulevard;
    src: url("../fonts/Boulevard.otf") format("opentype");
}
